@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #161616;
    display: block;
    margin-top: 30px;
}

.avatar {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
    margin: 5px;
}

.avatar img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    border: 1px solid #9600bf;
}

.avatar img:hover{
    transform: scale(1.2);
    transition: all 0.2s ease;
    border: 1px solid white;
}

.addmoment {
    display: flex;
    justify-content: center;
    align-items: center;   
    width: 40px;            
    height: 40px;  
    border-radius: 50%;    
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: #9600bf;  
    cursor: pointer;
    z-index: 2;
}

.addmoment p {
    color: white;
    font-size: 45px;
    line-height: 1;
}

.addmoment:hover{
    width: 50px;
    height: 50px;
    transition: all 0.4s ease;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box {
    background: rgba(48, 48, 48, 1); 
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 40px;;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 290px;
    transition: all 0.3s ease;
    margin: 0 20px;
    margin-bottom: 40px;
}

.box:hover {
    background: rgba(48, 48, 48, 0.3); 
    border: 1px solid rgba(150, 0, 191, 0.2); 
    box-shadow: 0 0 10px #9600bf;
    transform: scale(1.03);
}

.imagemoment {
    position: relative;
    z-index: 10;
}

.imagemoment img {
    border-radius: 40px;
    padding: 2px;
    width: 248px;
    height: 248px;
    margin: 0;
}

.imagemoment img:hover{
    transition: all 0.3s ease;
    transform: scale(1.15);
}

.namemoment {
    color: white;
    text-align: center;
    font-size: 14px;
}

.datecreate{
    text-align: center;
}

.datecreate p {
    color: white;
    font-size: 12px;
    opacity: 50%;
}

.box:hover .namemoment,
.box:hover .datecreate {
    opacity: 0.6;
}

.like {
    position: absolute;
    bottom: 15px;
    left: 25px;
}

.comment {
    position: absolute;
    bottom: 15px;
    right: 25px;
}

.like #like, 
.comment #comment {
    color: white;
    font-size: 30px;
}

.imagemoment:hover .like,
.imagemoment:hover .comment{
    transition: all 1s ease;
    display: none;
}


