@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #161616;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar {
    display: flex;
    position: fixed;
    left: 73%;
    bottom: 52%;
}

.avatar img {
    border-radius: 50%;
    scale: 0.08;
    border: 10px solid #9600bf;
}

.avatar img:hover{
    scale: 0.09;
    transition: all 0.2s ease;
    border: 10px solid white;
}

.addmoment {
    display: flex;
    align-items: center;    
    justify-content: center;   
    width: 40px;            
    height: 40px;
    background: #9600bf;    
    border-radius: 50%;    
    cursor: pointer;
    position: fixed;
    bottom: 3%;
    scale: 1;
}

.addmoment p {
    margin: 0;
    color: white;
    font-size: 45px;
    line-height: 1;
    padding-bottom: 2px; 
    width: 65%;
}

.addmoment:hover{
    scale: 1.2;
    transition: all 0.4s ease;
}