@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #161616;
    display: block;
}

.avatar {
    display: flex;
    justify-content: end;
    margin: 10px;
    z-index: 1;
}

.avatar img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 1px solid #9600bf;
}

.avatar img:hover{
    transform: scale(1.2);
    transition: all 0.2s ease;
    border: 1px solid white;
}

.addmoment {
    display: flex;
    justify-content: center;
    align-items: center;    
    width: 40px;            
    height: 40px;
    background: #9600bf;    
    border-radius: 50%;    
    cursor: pointer;
    position: fixed;
    left: 50%;
    bottom: 20px;
}

.addmoment p {
    margin: 0;
    color: white;
    font-size: 45px;
    line-height: 1;
    padding-bottom: 2px; 
}

.addmoment:hover{
    scale: 1.2;
    transition: all 0.4s ease;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.box {
    background: rgba(48, 48, 48, 1); 
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 40px;;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 290px;
    transition: all 0.3s ease;
    margin-left: 20px;
    margin-right: 30px;
}

.box:hover {
    background: rgba(48, 48, 48, 0.3); 
    border: 1px solid rgba(150, 0, 191, 0.2); 
    box-shadow: 0 0 10px #9600bf;
    transform: scale(1.03);
}

.imagemoment {
    position: relative;
}

.imagemoment img {
    border-radius: 40px;
    padding: 2px;
    width: 248px;
    height: 248px;
    transition: all 0.3s ease;
    margin: 0;
}

.imagemoment img:hover{
    border: 1px solid white;
    transform: scale(1.03);
}

.namemoment {
    color: white;
    text-align: center;
    font-size: 14px;
}

.datecreate{
    display: flex;
}

.datecreate p {
    color: white;
    font-size: 12px;
    opacity: 50%;
    margin-left: 100px;
}

.like {
    position: absolute;
    bottom: 15px;
    left: 25px;
}

.like #like, 
.comment #comment {
    color: white;
    font-size: 30px;
}

.comment {
    position: absolute;
    bottom: 15px;
    right: 25px;
}



